<ion-header>
    <ion-toolbar>
        <ion-title>Gestión</ion-title>
        <ion-buttons slot="end">
            <ion-button color="tertiary">
                <ion-icon name="information-circle"></ion-icon>
            </ion-button>
            <ion-button color="tertiary" (click)="exit()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>
            <p>Acción a realizar:</p>
            <p><strong>{{tareaAsignada}}</strong></p>
        </ion-label>

    </ion-item>

    <ion-item>
        <ion-label>
            <p>Cambiar tarea</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="changeTask()">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-item>
    <ion-item>

        <ion-label>
            <p>
                Resultado de la visita<strong>*</strong>
            </p>
            <p *ngIf="resultVisitValidation" style="color: red;">Campo obligatorio</p>
            <p>
                <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno" [(ngModel)]="idCaracteristicaPredio" (ionChange)="resultVisit($event)">
                    <ion-select-option value="1">Predio no localizado</ion-select-option>
                    <ion-select-option value="2">Predio habitado o en uso</ion-select-option>
                    <ion-select-option value="3">Predio abandonado</ion-select-option>
                    <ion-select-option value="4">Lote baldío</ion-select-option>
                    <ion-select-option value="5">Predio desocupado</ion-select-option>
                </ion-select>
            </p>

        </ion-label>
    </ion-item>
    <div *ngIf="activateResult">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label>
                        <p> Motivo de no pago<strong>*</strong></p>
                        <p *ngIf="isMotive" style="color :red">Campo obligatorio</p>
                        <p>
                            <ion-select class="myCustomSelect" interface="popover" placeholder="Selecciona uno" (ionChange)="activateMotive($event)" [(ngModel)]="idMotivoNoPago">
                                <ion-select-option value="1">Ayuntamiento no cumple con servicios </ion-select-option>
                                <ion-select-option value="2">Bajos ingresos/desempleado </ion-select-option>
                                <ion-select-option value="3">Adultos mayores </ion-select-option>
                                <ion-select-option value="4">Translado de dominio</ion-select-option>
                                <ion-select-option value="5">Fuera de la ciudad </ion-select-option>
                            </ion-select>
                        </p>

                    </ion-label>
                </ion-item>
                <div *ngIf="activateMotivo">
                    <ion-item>
                        <ion-label>
                            <p>Servicios</p>
                            <p>
                                <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idServiciosNoPago">
                                    <ion-select-option value="1">Alumbrado público</ion-select-option>
                                    <ion-select-option value="2">Seguridad</ion-select-option>
                                    <ion-select-option value="3">Limpia</ion-select-option>
                                    <ion-select-option value="4">Agua y drenaje</ion-select-option>
                                    <ion-select-option value="5">Parques y jardines</ion-select-option>
                                    <ion-select-option value="6">Vialidad y pavimentos</ion-select-option>
                                    <ion-select-option value="7">Obras en proceso</ion-select-option>
                                    <ion-select-option value="8">Otros</ion-select-option>
                                </ion-select>
                            </p>

                        </ion-label>
                    </ion-item>


                </div>
                <ion-item>
                    <ion-label>
                        <p>
                            Descripción<strong></strong>
                        </p>
                        <!-- Este campo ya no sera obligatorio a partir de la version 1.2.7 -->
                        <!-- <p *ngIf="isDescripcion" style="color :red">Campo obligatorio</p> -->

                    </ion-label>
                    <ion-textarea rows="5" [(ngModel)]="motivoNoPago" (ionChange)="activateDescripcion()"></ion-textarea>
                </ion-item>
            </ion-card-content>
        </ion-card>


        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label>
                        <p>Solución planteada</p>
                        <p>
                            <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idSolucionPlanteada">
                                <ion-select-option value='1'>Pago total</ion-select-option>
                                <ion-select-option value='2'>Convenio</ion-select-option>
                            </ion-select>
                        </p>

                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <p>Fecha promesa de pago</p>
                        <ion-datetime placeholder="1999-09-09" min={{fechaActual}} [(ngModel)]="fechaPromesaPago" (ionChange)="activateExpectativa()"></ion-datetime>
                    </ion-label>
                </ion-item>
                <div *ngIf="fechaPromesaPago != '1999-09-09'">

                    <ion-item>

                        <ion-label>
                            <p>¿En que te gustaría se aplicara tu pago?</p>
                            <p *ngIf="isExpectativa" style="color :red">Campo obligatorio</p>
                            <p>
                                <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idExpectativasContribuyente">
                                    <ion-select-option value="1">Alumbrado público</ion-select-option>
                                    <ion-select-option value="2">Seguridad</ion-select-option>
                                    <ion-select-option value="3">Limpia</ion-select-option>
                                    <ion-select-option value="4">Agua y drenaje</ion-select-option>
                                    <ion-select-option value="5">Parques y jardines</ion-select-option>
                                    <ion-select-option value="6">Vialidad y pavimentos</ion-select-option>
                                    <ion-select-option value="7">Obras en proceso</ion-select-option>
                                    <ion-select-option value="8">Otros</ion-select-option>
                                </ion-select>
                            </p>

                        </ion-label>
                    </ion-item>
                </div>
            </ion-card-content>
        </ion-card>

        <!-- Tipo de servicio solo en agua -->

        <ion-card>
            <ion-card-content>

                <ion-item>
                    <ion-label>
                        <p>Tipo de servicio</p>
                        <p> {{tipoServicioImplementta}} </p>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="tipoServicioImplementta == 'C' ">
                    <ion-label>
                        <p>Cambiar servicio</p>
                        <p>
                            <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idTipoServicio">
                                <ion-select-option value='2'>Comercial a Residencial</ion-select-option>
                                <ion-select-option value='3'>Comercial a Industrial </ion-select-option>
                                <ion-select-option value='4'>Comercial a Gobierno </ion-select-option>
                                <ion-select-option value='5'>No aplica</ion-select-option>
                            </ion-select>
                        </p>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="tipoServicioImplementta == 'I' ">
                    <ion-label>
                        <p>Cambiar servicio</p>
                        <p>
                            <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idTipoServicio">
                                <ion-select-option value='2'>Industrial a Residencial</ion-select-option>
                                <ion-select-option value='1'>Industrial a Comercial </ion-select-option>
                                <ion-select-option value='4'>Industrial a Gobierno </ion-select-option>
                                <ion-select-option value='5'>No aplica</ion-select-option>
                            </ion-select>
                        </p>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="tipoServicioImplementta == 'G' ">
                    <ion-label>
                        <p>Cambiar servicio</p>
                        <p>
                            <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idTipoServicio">
                                <ion-select-option value='2'>Gobierno a Residencial</ion-select-option>
                                <ion-select-option value='1'>Gobierno a Comercial </ion-select-option>
                                <ion-select-option value='3'>Gobierno a Industrial </ion-select-option>
                                <ion-select-option value='5'>No aplica</ion-select-option>
                            </ion-select>
                        </p>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="tipoServicioImplementta == 'R' ">
                    <ion-label>
                        <p>Cambiar servicio</p>
                        <p>
                            <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idTipoServicio">
                                <ion-select-option value='1'>Residencial a Comercial</ion-select-option>
                                <ion-select-option value='3'>Residencial a Industrial </ion-select-option>
                                <ion-select-option value='4'>Residencial a Gobierno </ion-select-option>
                                <ion-select-option value='5'>No aplica</ion-select-option>
                            </ion-select>
                        </p>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="tipoServicioImplementta == 'Sin especificar' ">
                    <ion-label>
                        <p>Cambiar servicio</p>
                        <p>
                            <ion-select interface="popover" placeholder="Selecciona uno" [(ngModel)]="idTipoServicio">
                                <ion-select-option value='1'>Comercial</ion-select-option>
                                <ion-select-option value='2'>Residencial </ion-select-option>
                                <ion-select-option value='3'>Industrial </ion-select-option>
                                <ion-select-option value='4'>Gobierno</ion-select-option>
                            </ion-select>
                        </p>
                    </ion-label>
                </ion-item>

            </ion-card-content>
        </ion-card>

        <!-- Estatus de la toma solo en agua -->
        <div *ngIf="isAgua">
            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label>
                            <p>Estatus de la toma <strong>*</strong> </p>
                            <p *ngIf="isEstatusToma" style="color :red">Campo obligatorio</p>
                            <p>
                                <ion-select interface="popover" placeholder="Selecciona uno" (ionChange)="activateEstatusToma($event)" [(ngModel)]="idEstatusToma">
                                    <ion-select-option value='1'>Normal</ion-select-option>
                                    <ion-select-option value='2'>Clandestino</ion-select-option>
                                </ion-select>
                            </p>
                        </ion-label>
                    </ion-item>
                    <div *ngIf="activaEstatusToma">
                        <ion-item>
                            <ion-label>
                                <p>Tipo de toma <strong>*</strong> </p>
                                <p *ngIf="isTipoToma" style="color :red">Campo obligatorio</p>
                                <p>
                                    <ion-select interface="popover" placeholder="Selecciona uno" (ionChange)="activateTipoToma()" [(ngModel)]="idTipoToma">
                                        <ion-select-option value='1'>Toma directa</ion-select-option>
                                        <ion-select-option value='2'>Derivación de toma</ion-select-option>
                                        <ion-select-option value='3'>Restricción infringida</ion-select-option>
                                        <ion-select-option value='4'>Manipulación de medidor</ion-select-option>
                                        <ion-select-option value='5'>Medidor invertido</ion-select-option>
                                        <ion-select-option value='6'>Medidor obstruido</ion-select-option>
                                    </ion-select>
                                </p>
                            </ion-label>
                        </ion-item>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>

    </div>
    <!-- activatedResult -->

    <ion-card>
        <ion-card-content>

            <ion-item>
                <ion-label>
                    <p>
                        Características del predio: <strong>*</strong>
                    </p>
                    <p *ngIf="nCaracteristica" style="color :red">Campo obligatorio</p>
                </ion-label>
                <ion-textarea rows="5" [(ngModel)]="otraCaracteristicaPredio" (ionChange)="otraCaracteristicaValidate()"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>
                    <p>
                        Observaciones:
                    </p>
                </ion-label>
                <ion-textarea rows="5" [(ngModel)]="observaciones"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>


    <ion-slides [options]="sliderOpts">
        <ion-slide *ngFor="let img of imgs">
            <img src={{img.imagen}} class="imagen">
            <ion-fab-button padding size="small" (click)="deletePhoto(img.imagen)" *ngIf="img.imagen != 'assets/img/imgs.jpg'" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-slide>
    </ion-slides>


    <ion-item text-center>
        <ion-label>
            <p>
                Fotos de la visita
            </p>

            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <ion-button expand="block" color="tertiary" (click)="takePic(1)">
                            <ion-icon name="camera"></ion-icon>
                        </ion-button>
                        <ion-label>Evidencia</ion-label>
                    </ion-col>
                    <ion-col text-center>
                        <ion-button expand="block" color="secondary" (click)="takePic(2)">
                            <ion-icon name="camera"></ion-icon>
                        </ion-button>
                        <ion-label>Predio</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col text-center>
                        <ion-button expand="block" color="warning" (click)="takePic(3)">
                            <ion-icon name="camera"></ion-icon>
                        </ion-button>
                        <ion-label>Acta circunstanciada</ion-label>
                    </ion-col>
                </ion-row>


            </ion-grid>
        </ion-label>
    </ion-item>

    <ion-button color="success" expand="block" (click)="validaDatosGestion()">Realizar la visita</ion-button>
</ion-content>