<ion-header>
    <ion-toolbar>
        <ion-title>Modulos sin asignación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pattern">
        <img src="../../assets/img/billete-de-dolar.png">
        <ion-button (click)="valoresCatastrales()" expand="block" color="success">Valores catastrales</ion-button>
    </div>
    <div class="pattern">
        <img src="../../assets/img/clandes.png">
        <ion-button (click)="clandestino()" expand="block" color="primary">Clandestino</ion-button>
    </div>
</ion-content>