<ion-header>
    <ion-toolbar>
        <ion-title>Entrega carta invitacíon</ion-title>
        <ion-buttons slot="end">
            <ion-button color="tertiary">
                <ion-icon name="information-circle"></ion-icon>
            </ion-button>
            <ion-button color="tertiary" (click)="exit()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-slides [options]="sliderOpts">
        <ion-slide *ngFor="let img of imgs">
            <img src={{img.imagen}} class="imagen">
            <ion-fab-button padding size="small" (click)="deletePhoto(img.imagen)" *ngIf="img.imagen != 'assets/img/imgs.jpg'" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-slide>
    </ion-slides>


    <ion-item text-center>
        <ion-label>
            Fotos de la visita
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <ion-button expand="block" color="warning" (click)="takePic(4)">
                            <ion-icon name="camera"></ion-icon>
                        </ion-button>
                        <ion-label>Entrega carta invitación</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-label>
    </ion-item>
    <ion-button color="success" expand="block" (click)="validaDatos()">Realizar la visita</ion-button>

</ion-content>